<time class="updated" datetime="post.post_date|date(c)">{{ post.post_date|date }}</time>
<p class="byline author vcard">{{  __('By', 'sage') }} <a href="{{ post.author.path }}" rel="author" class="fn">{{ post.author.name }}</a></p>